{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    <div class="container">
        <h2>Affichage du profil</h2>
        {%if is_granted('IS_AUTHENTICATED_FULLY') %}
            <label>id</label>
            {{ app.user.id }}
            <label>nickname</label>
            {{ app.user.nickname }}
            <label>lastname</label>
            {{ app.user.lastname }}
            <label>firstname</label>
            {{ app.user.firstname }}
            <label>phone</label>
            {{ app.user.phone }}
            <lablel>mail</lablel>
            {{ app.user.mail }}
            <a href="{{ path('profilModify',{'id': app.user.id}) }}"><button class="btn btn-primary">Editer mon profil</button></a>
        {% endif %}
    </div>
{% endblock %}