{% extends 'base.html.twig' %}

{% block title %}Affichage Profil{% endblock %}
{% block stylesheetsAdd %}
    <link rel="stylesheet" href="{{ asset('css/profileShow.css') }}">{% endblock %}
{% block body %}

        {%if is_granted('IS_AUTHENTICATED_FULLY') %}
            <h1 class="neon">[ Profil de {{ participant.nickname }} ]</h1>

            <div class="container">
                <div class="side">
                    <img class="img" src="http://www.benisoftindia.com/img/profile.jpg">
                    <label class="label">pseudo : </label>
                    <label class="data">{{ participant.nickname }}</label>
                </div>
                <div class="main">
                    <label class="label">id</label>
                    <label class="data">{{ participant.id }}</label>
                    <label class="label">lastname</label>
                    <label class="data">{{ participant.lastname }}</label>
                    <label class="label">firstname</label>
                    <label class="data">{{ participant.firstname }}</label>
                    <label class="label">phone</label>
                    <label class="data">{{ participant.phone }}</label>
                    <label class="label">mail</label>
                    <label class="data">{{ participant.mail }}</label>
                </div>
                {# TEST #}
                {% if ( participant.id == app.user.id) %}
                <div class="button">
                     <a href="{{ path('profileModify') }}"><button class="btn btn-primary">Editer mon profil</button></a>
                </div>
                {% endif %}
            </div>

        {% endif %}

{% endblock %}