{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}
{% block stylesheetsAdd %}
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}">{% endblock %}
{% block body %}
    <div class="container">
        <h2>Affichage du profil</h2>
        {%if is_granted('IS_AUTHENTICATED_FULLY') %}
            <label>id</label>
            {{ participant.id }}
            <label>nickname</label>
            {{ participant.nickname }}
            <label>lastname</label>
            {{ participant.lastname }}
            <label>firstname</label>
            {{ participant.firstname }}
            <label>phone</label>
            {{ participant.phone }}
            <label>mail</label>
            {{ participant.mail }}
            <a href="{{ path('profileModify') }}"><button class="btn btn-primary">Editer mon profil</button></a>
        {% endif %}
    </div>
{% endblock %}