{% extends 'base.html.twig' %}

{% block title %}Hello WelcomeController!{% endblock %}


{% block body %}
    <div class="container">
        <h1>Welcome</h1>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div>Date du Jour : {{ "now"|date("d/m/Y H:i") }} </div>
            <div> Participant : {{ app.user.nickname }}</div>
            <form action="{{ path('welcome') }}" method="post">
                <div>
                    <h4>Filtrer les sorties</h4>
                    <label for="search">Site</label>


                    <select name="site">
                        {% for site in sites %}
                            <option value="{{ site.id }}">{{ site.nameSite }}</option>
                        {% endfor %}
                    </select>

                    <label for="search">Le nom de la sortie contient :</label>
                    <input type="text" name="search" placeholder="Search"/>
                    <input type="datetime-local" name="debut"/>
                    <input type="datetime-local" name="fin"/>
                </div>

                <div>
                    <input type="checkbox" name="orgaTrip"/>
                    <label for="orgaTrip">Sorties dont je suis l'organisateur/trice</label>
                    <input type="checkbox" name="regiTrip"/>
                    <label for="regiTrip">Sorties auxquelles je suis inscrit/e</label>
                    <input type="checkbox" name="noreTrip"/>
                    <label for="noreTrip">Sorties auxquelles je ne suis pas inscrit/e</label>
                    <input type="checkbox" name="oldsTrip"/>
                    <label for="oldsTrip">Sorties passées</label>
                </div>


                <div>
                    <input class="btn btn-primary" type="submit" value="Rechercher">
                </div>
            </form>
            <div>
                <table class="table table-striped table-dark">
                    <tr>
                        <td>Nom de la sortie</td>
                        <td>Date de sortie</td>
                        <td>Clôture</td>
                        <td>inscrits/places</td>
                        <td>État</td>
                        <td>Inscrit</td>
                        <td>Organisateur</td>
                        <td>Actions</td>
                    </tr>

                    {% for trip in trips %}
                        <tr>
                            <td>{{ trip.name }}</td>
                            <td>{{ trip.dateStart|date("d/m/Y H:i") }}</td>
                            <td>{{ trip.dateClosing|date("d/m/Y H:i") }}</td>
                            <td>{{ trip.maxRegistration }}</td>
                            <td>{{ trip.status }}</td>
                            <td>{{ trip.participant }}</td>
                            <td>{{ trip.organizer }}</td>
                            <td><a href="{{ path('tripShow',{ 'id': trip.id }) }}">Afficher</a></td>
                        </tr>
                    {% endfor %}

                </table>
                <input class="btn btn-primary" type="submit" value="Créer une sortie">
            </div>
        {% endif %}
    </div>
{% endblock %}