{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 class="neon">[ Accueil ]</h1>
    <div class="bird-container bird-container--one">
        <div class="bird bird--one"></div>
    </div>

    <div class="bird-container bird-container--two">
        <div class="bird bird--two"></div>
    </div>

    <div class="bird-container bird-container--three">
        <div class="bird bird--three"></div>
    </div>

    <div class="bird-container bird-container--four">
        <div class="bird bird--four"></div>
    </div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="container">
            <div class="full">
                <div class="date">Date du Jour : {{ "now"|date("d/m/Y H:i") }} </div>
                <div class="user"> Participant : {{ app.user.nickname }}</div>
                <form action="{{ path('welcome') }}" class="filters" method="post">
                    <h4>Filtrer les sorties</h4>
                    <div class="gboite">
                        <div class="boite">
                            <div class="rowWelcome">
                                <label for="search">Site </label>
                                <select class="form-control" name="site">
                                    {% for site in sites %}
                                        <option value="{{ site.id }}">{{ site.nameSite }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="rowWelcome">
                                <label class="label-welcome" for="search">Le nom de la sortie contient :</label>
                                <input class="formatting" type="text" name="search" placeholder="Rechercher"/>
                            </div>
                            <div class="rowWelcome">
                                <label class="label-welcome" for="debut">Entre</label>
                                <input name="debut" type="date" class="formatting"
                                       value="{{ "now" | date_modify('first day of this month') | date('Y-m-d') }}"/>
                                <label class="label-welcome" for="fin">et</label>
                                <input type="date" name="fin" class="formatting"
                                       value="{{ "now" | date_modify('last day of this month') | date('Y-m-d') }}"/>
                            </div>
                        </div>
                        <div class="boite">
                            <div class="rowWelcome">
                                <br>
                                <div>
                                    <input  type="checkbox" name="orgaTrip"/>
                                    <label class="label-welcome" for="orgaTrip">Sorties dont je suis l'organisateur/trice</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="regiTrip"/>
                                    <label class="label-welcome" for="regiTrip">Sorties auxquelles je suis inscrit/e</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="noreTrip"/>
                                    <label class="label-welcome" for="noreTrip">Sorties auxquelles je ne suis pas inscrit/e</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="oldsTrip"/>
                                    <label class="label-welcome" for="oldsTrip">Sorties passées</label>
                                </div>
                            </div>
                        </div>
                        <div class="boite">
                            <br>
                            <input class="btn btn-primary" type="submit" value="Rechercher"></form>
                            <a href="{{ path('tripAdd') }}"><button type="button" class="btn btn-success search createTrip"
                                                                    value="Créer une sortie">Créer une sortie</button></a>
                        </div>


                    </div>
                <!-- Enlever ce <br> dégeulasse lors de la mise en forme -->
                <br>
                <table class="table table-striped table-dark table-hover table-bordered">
                    <tr class="thead-light">
                        <th>Nom de la sortie</th>
                        <th>Date de sortie</th>
                        <th>Clôture</th>
                        <th>inscrits/places</th>
                        <th>État</th>
                        <th>Inscrit</th>
                        <th>Organisateur</th>
                        <th>Actions</th>
                    </tr>
                </table>
                <div class="listTrip">
                    <table class="table table-striped table-dark table-hover table-bordered">


                        {% for trip in trips %}
                            {% set isOn = false %}
                            <tr id="{{ trip.id }}" class="ligne">
                                <td>{{ trip.name }}</td>
                                <td>{{ trip.dateStart|date("d/m/Y H:i") }}</td>
                                <td>{{ trip.dateClosing|date("d/m/Y") }}</td>
                                <td>
                                    {# Compter le nombre d'inscript en fonction du voyage #}
                                    {% set count = 0 %}
                                    {% for registration in registrations %}
                                        {% if(registration.trips.id == trip.id) %}
                                            {% set count = count + 1 %}
                                        {% endif %}
                                    {% endfor %}
                                    {{ count }}/ {{ trip.maxRegistration }}</td>
                                <td>{{ trip.status }}</td>
                                <td>
                                    {# Vérifier si l'utilisateur est inscrit #}
                                    {% for registration in registrations %}
                                        {% if(registration.participant.id == app.user.id) and (trip.id == registration.trips.id) %}
                                            X
                                            {% set isOn = true %}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    <a href="{{ path('profileShow',{ 'id' : trip.organizer.id }) }}">{{ trip.organizer }}</a>
                                </td>
                                <td>
                                    {# Tout le monde peut afficher la sortie #}
                                    <a href="{{ path('tripShow',{ 'id': trip.id }) }}"><button class="btn-primary">Afficher</button></a>

                                    {# On peut modifier seulement si on est l'organisateur de la sortie #}
                                    {# A TESTER LES CONDITIONS #}
                                    {% if( trip.organizer.id == app.user.id) and ( trip.status == "Créée") %}
                                        <a href="{{ path('tripModify', {'id' : trip.id }) }}"><button class="btn-warning">Modifier</button></a>
                                    {% endif %}

                                    {# On peut s'inscrire seuleument si ... #}
                                    {# condition 1 : le statut du trip doit être publié == Ouverte #}
                                    {# condition 2 : le nombre de place ne doit pas être atteint == maxRegistration #}
                                    {# condition 3 : la date limite d’inscription ne soit pas dépassée #}
                                    {# condition 4 : l'heure de la sortie n'est pas dépassé #}
                                    {# condition 5 : on est pas déjà inscrit #}
                                    {% if (trip.status == "Ouverte")
                                        and (count < trip.maxRegistration)
                                        and (trip.dateClosing|date("Y/m/d") >= "now"|date("Y/m/d")
                                        and (trip.dateStart|date("Y/m/d H:i") >= "now"|date("Y/m/d H:i")))
                                        and (isOn == false)
                                    %}
                                            {# Affichage du bouton S'inscrire #}
                                            <a href="{{ path('welcome') }}?inscription={{ trip.id }}"><button class="btn-success">S'inscrire</button></a>
                                    {% endif %}

                                    {# On peut se désister si ... #}
                                    {# condition 1 : Si la sortie n'est pas commencé #}
                                    {# condition 2 : Si on est inscrit à la sortie #}
                                    {# condition 3 : Si la sortie est passéé  and ( in_array(app.user.id, registrations.participant.id) #}
                                    {% if(trip.status != "Activité en cours") and ( isOn == true)%}
                                        <a href="{{ path('welcome') }}?desist={{ trip.id }}"><button class="btn-secondary">Se désister</button></a>
                                    {% endif %}
                                    {% if( trip.organizer.id == app.user.id) and ( trip.status.id <= 3 ) %}
                                        <a href="{{ path('tripCancel',{'id' : trip.id}) }}"><button class="btn-danger">Annuler la Sortie</button></a>
                                    {% endif %}
                                </td>
                            </tr>

                            <tr id="hidethis{{ trip.id }}" class="hidethis">
                                <td colspan="1">Participants</td>
                                <td colspan="7">
                                    {# Lister les participants du voyage #}
                                    {% for registration in registrations %}
                                        {% if(registration.trips.id == trip.id) %}
                                            <a href="{{ path('profileShow',{ 'id' : registration.participant.id }) }}">{{ registration.participant.nickname }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>

                        {% endfor %}

                    </table>

                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('Js/toggle.js') }}"></script> {% endblock %}