{% extends 'base.html.twig' %}

{% block title %}Création d'une sortie{% endblock %}
{% block stylesheetsAdd %}
    <link rel="stylesheet" href="{{ asset('css/profileShow.css') }}">
{% endblock %}
{% block body %}
    <h1 class="neon">[ Création d'une sortie ]</h1>

    <div class="container">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}

            <div class="fullTrip">
                {{ form_start(form) }}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form_row(form.name) }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form_row(form.date_start) }}
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ville">Ville</label><br>
                        <select name="ville">
                            {% for city in cities %}
                                <option>{{ city.nameCity }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form_row(form.date_closing) }}
                    </div>
                    <div class="form-group col-md-6">
                        <label for="place">Lieu</label><br>
                        <select name="place">
                            {#
                            {% for place in places %}
                                <option>{{ place.namePlace }}</option>
                            {% endfor %}
                            #}
                        </select>
                        <button> +</button>
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        {{ form_row(form.max_registration) }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        {{ form_row(form.duration) }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form_row(form.description_infos) }}
                    </div>
                </div>

                {#
                <input type="submit" class="btn btn-primary" name="Enregistrer" value="Enregistrer">
                #}

                <button class="btn btn-primary" name="Enregistrer">Enregistrer la sortie sans la publier</button>
                <button class="btn btn-primary" name="Publier">Enregistrer et publier la sortie</button>

                <a href="{{ path('welcome') }}">
                    <button type="button" class="btn btn-warning">Annuler</button>
                </a>

                {{ form_end(form) }}

            </div>

        {% endif %}
    </div>


{% endblock %}


