{% extends 'base.html.twig' %}

{% block title %}Création d'une sortie{% endblock %}
{% block stylesheetsAdd %}
    <link rel="stylesheet" href="{{ asset('css/profileShow.css') }}">
{% endblock %}
{% block body %}
    <h1 class="neon">[ Création d'une sortie ]</h1>

    <div class="container">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}

            <div class="fullTrip">
                {{ form_start(form) }}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form_row(form.name) }}
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ville">Ville organisatrice</label><br>
                        {{ trip.organizer.site.nameSite }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form_row(form.date_start) }}

                    </div>
                    <div class="form-group col-md-6">
                        <label for="citySel">Ville de la sortie</label><br>
                        <select id="citySel">
                            {% for city in cities %}
                                <option value="{{ city.id }}">{{ city.nameCity }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form_row(form.date_closing) }}
                    </div>
                    <div class="form-group col-md-6">
                        <label for="resPlace">Lieu</label><br>
                        <select name="place" id="resPlace">
                           {# Magic #}
                        </select>
                        <button class="btn btn-info"> +</button>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        {{ form_row(form.max_registration) }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        {{ form_row(form.duration) }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form_row(form.description_infos) }}
                    </div>
                </div>
                <div id='map' style='width: 600px; height: 300px;'></div>
                <button class="btn btn-primary" name="Enregistrer">Enregistrer la sortie sans la publier</button>
                <button class="btn btn-primary" name="Publier">Enregistrer et publier la sortie</button>

                <a href="{{ path('welcome') }}">
                    <button type="button" class="btn btn-warning">Annuler</button>
                </a>

                {{ form_end(form) }}

            </div>


        {% endif %}
    </div>


{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('Js/welcome.js') }}"></script> {% endblock %}

