{% extends 'base.html.twig' %}

{% block body %}
    {% block navlink %}
        {%if is_granted('IS_AUTHENTICATED_FULLY') %}
            <!--Si l'user est autentifié -->

            <a class="nav-item nav-link active" href="{{ path('logout') }}">Se déconnecter</a>
            <a class="nav-item nav-link active" href="{{ path('add') }}">Créer une Sortie</a>
        {% else %}
            {{ parent() }}
        {% endif %}
    {% endblock %}

    <div class="container">

        <div>
            <h2>Créer une sortie</h2>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
        </div>

        <div>
            <input type="submit" name="Enregistrer" value="Enregistrer">
        </div>
        <div>
            <input type="submit" name="Publier" value="Publier la sortie">
        </div>
        <div>
            <input type="submit" name="Annuler" value="Annuler">
        </div>

    </div>

{% endblock %}
