{% extends 'base.html.twig' %}

{% block title %} Annulation de la sortie "{{ form.vars.value.name }}" {% endblock %}

{% block body %}

    <div class="container">

        <div>
            <h1>Annuler de la sortie "{{ form.vars.value.name }}"</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-primary" name="Annuler" value="Annuler la sortie">
            {{ form_end(form) }}
        </div>

    </div>

{% endblock %}
