{% extends 'base.html.twig' %}

{% block title %} Annulation de la sortie "{{ form.vars.value.name }}" {% endblock %}

{% block body %}

    <h1 class="neon">[ Annulation de la sortie "{{ form.vars.value.name }}" ]</h1>

    <div class="container">
        <div class="full">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-primary" name="AnnulerSortie" value="Enregistrer l'annulation de  la sortie">
            <a href="{{ path('welcome') }}"><button class="btn btn-warning">Annuler</button></a>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
